.grid-layout {
  margin: 50px;
}

.btn-list-layout {
  width: 50%;
  float: left;
}

.btn-layout {
  width:80px;
  height: 80px;
  margin: 30px;
  display:inline-block;
  font-size: x-large;
  border-radius: 25%;
  border: none;
  vertical-align: top;
}